.banner {
    font-size: 36px;
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center;    
}

.subheader {
    font-size: 24px;
    height: 100px;
    width: 400px;
    text-align: center;
    margin: auto;
    line-height: 100px;
}

.subheader-2 {
    font-size: 24px;
    height: 100px;
    width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    line-height: 100px;
}

.error-page {
    font-size: 24px;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 200px
}

.flash-msg {
    font-size: 14px;
    height: 30px;
    width: 400px;
    text-align: center;
    margin: auto;
    line-height: 30px;
}

textarea {
  resize: none;
}

.timestamp {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
}

.approve-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.approve-button:hover {
    background-color: black;
    color: greenyellow;
}

.decline-button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.decline-button:hover {
    background-color: black;
    color: red;
}

.homepage-menu-item {
    cursor: pointer;
}

.homepage-menu-item:hover {
    background-color: rgb(192, 192, 192);
    color: black;
    transition: 0.3s;
}

.homepage-display-bottom {
    padding-top: 30px;
    text-align: center;
    height: 100px;
    margin: auto;
}

.status-archived { 
    background-color: red;
    color:white;
}

.status-not-archived {
    background-color: rgb(0, 145, 0);
    color:white;
}

.edit-profile-button {
    width: 53px;
    height: 53px;
    text-align: center;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
    transition: 0.3s;
    line-height: 53px;
}

.edit-profile-button:hover {
    background-color: black;
    color: white;
}

.edit-firstname-text, .edit-lastname-text, .edit-email-text, .edit-password-text {
    width: 220px;
}

.grid-num-pages {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.page-num {
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    cursor: pointer;
}

.page-num.page-num-selected {
    border: 1px solid rgb(0, 0, 0);    
}

.triangle-right {
    position: absolute;
	width: 0;
	height: 0;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
	border-top: 10px solid transparent;
	border-left: 20px solid #555;
	border-bottom: 10px solid transparent;
    cursor: pointer;
    margin-left: 20px;
}

.triangle-right:hover {
	border-top: 15px solid transparent;
	border-left: 30px solid #555;
	border-bottom: 15px solid transparent;
}

.triangle-left {
    position: absolute;
	width: 0;
	height: 0;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 20px;
	border-top: 10px solid transparent;
	border-right: 20px solid #555;
	border-bottom: 10px solid transparent;
}

.triangle-left:hover {
	border-top: 15px solid transparent;
	border-right: 30px solid #555;
	border-bottom: 15px solid transparent;
}

.giantbomb-logo {
    height: 30px;
    width: 70px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-gb-link {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: 400px;
    height: 50px;
}

textarea {
    border-radius: 10px;
}

.button {
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 64px;
    width: 64px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
}

.button:hover {
    background-color: black;
    color: white;
}

/*----------------------------Admin----------------------------*/

.grid-admin-display {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.admin-display-item {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px 10px;
}

/*----------------------------Homepage----------------------------*/

.navbar {
    width: 100%;
    background-color: rgb(70, 70, 70);
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

#search-game {
    height: 30px;
}

.grid-homepage-menu {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
}

.homepage-display {
    position: relative;
    display: block;
    height: auto;
    width: 1200px;
    margin: auto;
    overflow: auto;  
}

.navbar2 {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar2 .adminbutton {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  opacity: 0.5;
}

/* Change the color of links on hover */
.navbar2 .adminbutton:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar2 .adminbutton.active {
  background-color: #04AA6D;
  color: white;
}

.external-link-symbol {
    height: 15px;
    width: 15px;
}

a {
    text-decoration: none;
}

/*----------------------------Search----------------------------*/

.grid-display-search-results {
    display: inline-grid;
    grid-template-columns: auto;
    height: 1000px;
    width: 1200px;
    margin: auto;
    overflow: auto;
}

.display-search-text {
    width: 800px;
    margin: auto;
    padding: 20px 10px 20px;
}

.search-result-item-hover {
    position: absolute;
    transition: opacity 0.25s;
    height: 100%; 
    line-height: 103px;
    top: 0px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    cursor: pointer;
}

.search-result-item {
    position: relative;
    display: grid;
    grid-template-columns: 100px 540px 160px;
    height: 100px;
    width: 800px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
}

.search-result-item:hover .search-result-item-hover {
    opacity: 1; 
}

.search-result-item-img {
    height: 100px;
    width: 100px;
}

.search-result-item-content {
    height: 100px;
    width: 500px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.select-game {
    height: 100px;
    width: 160px;
    text-align: center;
    line-height: 100px;
}

.display-search-schedule-bar {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
    margin: auto;
    text-align: right;
    padding-bottom: 10px;
}

.display-search-game-bar {
    position: relative;
    display: grid;
    grid-template-columns: 15% 20% 40% 10% 15%;
    width: 100%;
    margin: auto;
    text-align: right;
    padding-bottom: 10px;
}

.search-schedule-item {
    padding-left: 10px;
    padding-right: 5px;
}

.animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-15px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.search-results-loading {
    position: absolute;
    background-color: black;
    color: white;
    top: 1000px;
    left: 400px;
    height: 50px;
    width: 400px;
    margin: auto;
    line-height: 50px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    opacity: 0.5;
    animation-duration: 1s;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

.search-results-text {
    position: relative;
    height: 100px;
    width: 800px;
    line-height: 100px;
    margin: auto;
    text-align: center;
}

/*----------------------------Registration----------------------------*/

.registration-form {
    height: 630px;
    width: 600px;
    background-color: rgb(187, 196, 216);
    margin:auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding-top: 20px;
}

.grid-registration {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 400px;
    margin: auto;
    margin-top: 100px;
}

.grid-login {
    display: grid;
    grid-template-columns: auto;
    width: 380px;
    height: 300px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(187, 196, 216);
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.login_input {
    width: 350px;
}

.submit-login {
    margin: auto;
}

.login-flash {
    width: 350px;
}

.password_label {
    margin-top: 5px;
}

.submit {
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#password, #username, #email {
    border-radius: 5px;
}

.registration-form-spacing {
    height: 20px;
    width: 100%;
    margin: auto;
}

/*----------------------------Profile----------------------------*/

.grid-profile {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 1200px;
    margin: auto;
}

.grid-profile-menu {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 160px;
    padding: 50px 20px;
}

.grid-profile-item {
    text-align: left;
    line-height: 40px;
    cursor: pointer;
}

.grid-profile-item:hover {
    font-weight: bold;
    transition: 0.3s;
}

.grid-profile-display {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 265px 245px 100px;
    width: 100%;
    height: 1000px;
    overflow-y: auto;
}

.grid-profile-user {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 245px;
    width: 500px;
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(235, 244, 255);
    overflow: hidden;
}

.profile-user-item {
    height: 37px;
    line-height: 37px;
    text-align: left;
    padding-left: 20px;

}

.profile-subheader {
    font-size: 24px;
    height: 100px;
    width: 400px;
    text-align: center;
    margin: auto;
    line-height: 100px;
}

.grid-profile-schedules {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
}

.grid-profile-schedule-item {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: mintcream;
    overflow: hidden;
}

.profile-schedules-item-textarea {
    height: 100%;
    width: 90%;
    border: 1px solid rgb(0, 0, 0);  
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 5px;
}

.profile-post-item-textarea {
    height: 70px;
    width: 400px;
    border: 1px solid rgb(0, 0, 0);  
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
}

.schedule-item-background {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 300px;
    width: 400px;
    top: -33px;
    left: 0px;
}

.sent-item-background {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 280px;
    width: 300px;
    top: -60px;
    left: 516px;
}

.grid-profile-schedule-item-leftrows {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid-profile-schedule-item-rightrows {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 70% 15%;
}

.profile-schedules-item-text {
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;
}

.grid-user-schedule-hover {
    position: absolute;
    z-index: 3;
    transition: opacity 0.25s;
    height: 100%; 
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.grid-profile-schedule-item:hover .grid-user-schedule-hover {
    opacity: 1;
}

.view-schedule-button-2 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.archive-schedule-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-schedule-button {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.view-schedule-button-2:hover {
    background-color: black;
    color:white;
}

.archive-schedule-button:hover {
    background-color: black;
    color: rgb(212, 203, 64);
}

.delete-schedule-button:hover {
    background-color: black;
    color: red;
}

.view-schedule-button-6 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.view-schedule-button-6:hover {
    background-color: black;
    color:white;
}

.view-schedule-button-3 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.view-schedule-button-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.view-schedule-button-5:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.view-schedule-button-3:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.grid-user-schedule-hover {
    position: absolute;
    transition: opacity 0.25s;
    height: 100%; 
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.grid-user-schedule-hover .grid-joined-user-schedule-hover {
    opacity: 1;
}

.leave-schedule-button {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.leave-schedule-button:hover {
    background-color: black;
    color: red;
}

.view-schedule-button-4 {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.approve-request-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.decline-request-button {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.view-schedule-button-4:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.decline-request-button:hover {
    background-color: black;
    color: red;
}

.approve-request-button:hover {
    background-color: black;
    color: greenyellow;
}

.decline-2 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    cursor: pointer;
    background-color: lightgrey;
}

.declined-2 {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    cursor: pointer;
    background-color: black;
    color: red;
}

.approve-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    cursor: pointer;
    background-color: lightgrey;
}

.approved-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    cursor: pointer;
    background-color: black;
    color: greenyellow;
}

.menu-symbol {
    font-size: 20px;
}

.header-symbol {
    font-size: 30px;
}

.button-symbol {
    font-size: 50px;
}

/*---------------Hover Tabs for user schedules--------------*/

/* Set height of body and the document to 100% to enable "full page tabs" */

.grid-schedules-tabs {
    position: relative;
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: auto;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
    color: rgb(0, 0, 0);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 10px 20px;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}

#created {background-color: rgb(204, 235, 255);}
#joined {background-color: rgb(230, 255, 243);}
#archived {background-color: lemonchiffon;}
#sent {background-color: aliceblue;}
#received {background-color: honeydew;}

/*------------------------Create Schedule---------------------------*/

.grid-create-schedule-form {
    position: relative;
    display: grid;
    background-color: rgb(210, 210, 224);
    padding: 10px 10px 10px 0px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    grid-template-columns: 25% 75%;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    text-align: left;    
}

label {
    padding-left: 10px;
}

#timezone {
    width: 100%
}

.grid-display-game {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
    margin: auto;
    text-align: left;   
}

.display-game-icon {
    width: 400px;
    height: 300px;
    margin: auto;
}

.game-description {
    height: 300px;
    width: 400px;
    margin: auto;
    margin-left: 30px;
}

.back-to-search-bar {
    position: relative;
    display: grid;
    grid-template-columns: 75% 25%;
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.back-to-search-button {
    text-align: center;
    width: 250px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    line-height: 30px;
    transition: 0.3s;
}

/*------------------------Display Games---------------------------*/

.display-games {
    height: 850px;
    width: 900px;
    margin: auto;
}

.grid-display-games {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    width: 900px;
    margin: auto;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.grid-display-game-item-hover {
    position: relative;
    height: 170px;
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background-color: transparent;
}

.grid-display-game-item-hover:hover .create-schedule-hover {
    top: 0px;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.grid-display-game-item-hover:hover .find-schedule-hover {
    top: 95px;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.create-schedule-hover:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.find-schedule-hover:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.create-schedule-hover {
    position: absolute;
    height: 50%; 
    line-height: 100px;
    top: -95px;
    width: 100%;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.8);
    color:white;
    cursor: pointer;
}

.find-schedule-hover {
    position: absolute;
    height: 50%; 
    line-height: 100px;
    top: 190px;
    width: 100%;
    text-align: center;
    background-color: rgba(119, 119, 119, 0.8);
    color:white;
    cursor: pointer;
}

.display-game-item-img {
    display: block;
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.display-game-item-name {
    height: 20px;
    text-align: center;
    line-height: 20px;
}

@-webkit-keyframes bounceright {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateX(0);}
  50% {-webkit-transform: translateX(10px);}
} 

@keyframes bounceright { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateX(0);}
  50% {transform: translateX(10px);}
} 

.bounceright { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounceleft {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateX(0);}
  50% {-webkit-transform: translateX(-10px);}
} 

@keyframes bounceleft { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateX(0);}
  50% {transform: translateX(-10px);}
} 

.bounceleft { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.arrow-right {
    position: absolute;
    font-size: 60px;
    top: 52%;
    left: 91%;
    cursor: pointer;
}

.arrow-right:hover {
    font-weight: 500px;
    animation-duration: 1s;
    animation-name: bounceright;
    animation-iteration-count: infinite;    
}

.arrow-left {
    position: absolute;
    font-size: 60px;
    top: 52%;
    right: 91%;
    cursor: pointer;
}

.arrow-left:hover {
    font-weight: 500px;
    animation-duration: 1s;
    animation-name: bounceleft;
    animation-iteration-count: infinite;
}

.page-indicator-bar {
    position: relative;
    font-size: 18px;
    width: 400px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    border-radius: 12px;
    margin: auto;
    line-height: 30px;
    overflow: hidden;
}

.loading-bar {
    position: relative;
    font-size: 18px;
    width: 0;
    height: 30px;
    background-color: rgb(143, 190, 122);
    border-radius: 12px 0px 0px 12px;
    margin-left: 0px;
    line-height: 30px;

    transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
}

.all-games-page-num {
    position:absolute;
    font-weight: bold;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
}

/*------------------------Display Schedules---------------------------*/

.grid-display-schedules {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 80%;
    margin: auto;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.grid-display-schedules-results {
    position: relative;
    width: 80%;
    height: 1000px;
    margin: auto;
    overflow: auto;
}

.grid-display-schedule-item {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 10px 10px 10px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background-color: mintcream;
    border-radius: 10px;
    overflow:hidden;
}

.all-schedules-item-background-image {
    z-index: 0;
    position: absolute;
    top: -22px;
    left: -14px;
    height: 283px;
    width: 460px;
    margin: auto;
    opacity: 0.3;    
}

.schedule-item-leftrows {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.schedule-item-rightrows {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 60% 30%;
}

.grid-display-schedule-item-expanded {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    overflow:hidden;
}

.grid-schedule-item-leftrows {
    position: relative;
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid-schedule-item-rightrows {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 70% 20%;
}

.schedule-background-img {
    z-index: -1;
    position: absolute;
    height: 600px;
    width: 960px;
    margin: auto;
    opacity: 0.3;
    top: -115px;
    left: -11px;
}

.schedule-status-box {
    position: absolute;
    right: 90px;
    bottom: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.view-schedule-status-box {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.schedule-status-box .tooltiptext {
    position: absolute;
    right: -3px;
    bottom: 23px;
    transform: translateY(3px);
    transform: translateX(-23px);
    z-index: 1;
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

.view-schedule-status-box .tooltiptext {
    position: absolute;
    right: -3px;
    bottom: 23px;
    transform: translateY(3px);
    transform: translateX(-23px);
    z-index: 1;
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 7px;
}

.schedule-status-box:hover .tooltiptext {
    visibility: visible;
}

.view-schedule-status-box:hover .tooltiptext {
    visibility: visible;
}

.view-schedule-button {
    position: absolute;
    right: 24px;
    bottom: 3px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.realign-icon {
    position:relative;
    bottom: 15px;
}

.shift-icon {
    right: 10px;
}

.view-schedule-button:hover {
    background-color: black;
    color: white;
}

.back-bar {
    width: 80%;
    margin: auto;
}

.back-button {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 94%;
    margin-bottom: 5px;
    transition: 0.3s;
}

.back-button:hover {
    background-color: black;
    color: white;
}

.view-requests-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 160px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(211, 208, 167);
    transition: 0.3s;
}

.request-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgb(0, 0, 0);  
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding-bottom: 5px;
}

.requested-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 160px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: lightgrey;
}

.approved-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 160px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: palegreen;
}

.grid-schedule-post-box {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 80%;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 244, 225);
}

/*------------------------Posts---------------------------*/

.grid-post-box {
    position: relative;
    display: grid;
    width: 757px;
    grid-template-columns: auto;
    margin: 10px 10px;  
}

.triangle {
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 50px solid #333;
    position: absolute;
    top: 25px;
    left: -18px;
}

.grid-post-msg {
    display: grid;
    grid-template-columns: 85% 15%;
}

.timestamp-post {
    margin-left: 30px;
}

.schedule-post-item {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.grid-post-content {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
    margin: 10px 10px;  
}

.postmsgbox {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    margin-left: 30px;
    height: 100px;
    background-color: #333;
    color: white;
    overflow: auto;
}

.grid-display-bar {
    position: relative;
    display: inline-grid;
    grid-template-columns: 10% 10% ;
    left: 50%;
    transform: translateX(-50%);
    height: 33px;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 244, 225);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;  
}

.grid-display-bar-userposts {
    position: relative;
    display: inline-grid;
    grid-template-columns: 10% 10% ;
    background-color: rgb(196, 210, 228);
    height: 33px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/*------------------------Display Avator Box---------------------------*/

.post-avator {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;  
}

.post-avator-hover {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 150px;
    border: 1px solid #f1f1f1;  
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;  
    background-color: #333;
}

.post-avator-hover:hover .kick-user {
    opacity: 1; 
}

.kick-user {
  position: absolute;
  transition: opacity 0.25s;
  height: 100%; 
  line-height: 140px;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  cursor: pointer;
}

.avator-img {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 10%;
    border: 3px solid rgb(0, 0, 0);          
}

.avator-img-profile {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 10%;    
    margin-bottom: 20px;
    margin-top: 20px;
    border: 5px solid rgb(0, 0, 0);  
}

.avator-img-profile-upload {
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 10%;    
    margin-bottom: 20px;
    margin-top: 20px;  
}

.avator-name {
    text-align: center;
    color: whitesmoke;
}

.kicked-user {
    position: relative;
    grid-template-columns: auto;
    width: 150px;
    border: 1px solid rgb(0, 0, 0);  
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 115px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);  
}

/*------------------------Request---------------------------*/

.grid-request-form {
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.close {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 20px;
}

.grid-request-inner {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-request-header {
    text-align: left;
    padding-left: 20px;
}

.grid-requestform {
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid-display-requests-canvas {
    display: grid;
    grid-template-columns: auto;
}

.grid-display-request-item {
    position: relative;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    width: 100%;
    margin: auto;
}

.grid-request-content {
    display: grid;
    grid-template-columns: auto;
    padding-top: 5px;
    overflow-y: auto; 
}

.grid-approval {
    display: grid;
    grid-template-columns: auto;
    padding: 25px 20px 10px;
}

.decline, .approve {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(197, 197, 197);
}

.approved {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: palegreen;
    border-radius: 7px;
}

.declined {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: red;
    border-radius: 7px;
}

.grid-users-list {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.grid-request-list {
    display: grid;
    grid-template-columns: auto;
}

/*-----------------------------Modal-----------------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------Snackbar-----------------------------------*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*-----------------------------Collapse-----------------------------------*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  position: relative;
  background-color: #eee;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content-approved-users {
  position: relative;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*-------------------------Drag and Drop File-----------------------------------*/

.dragdrop-box {
  display: none;
}

.avator-upload-form.has-advanced-upload {
  border: 2px dashed rgb(85, 85, 85);
  border-radius: 20px;
  height: 175px;
  width: 175px;
  font-family: sans-serif;
  margin: 10px auto;
  text-align: center;
  padding-top: 10px;
}
.avator-upload-form.has-advanced-upload .dragdrop-box {
  display: inline;
}

.avator-upload-form.is-dragover {
  background-color: rgb(159, 195, 219);
}


/*-------------------------loading icon-----------------------------------*/

.grid-loading-display {
    position: relative;
    display: grid;
    text-align: center;
    grid-template-columns: auto ;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.load-icon {
    height: 150px;
    width: 450px;
    transform: translateY(50%);
}