{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="banner" id="banner">
        Website Name
    </div>

    <div class="grid-homepage-menu" id="homepage-menu">
        {% if(session.get('user', 0)) %}
            <div class="homepage-menu-item" id="my-profile">My Profile</div>
            <div class="homepage-menu-item" id="log-out">Log Out</div>
        {% else %}
            <div class="homepage-menu-item" id="create-account">Create Account</div>
            <div class="homepage-menu-item" id="log-in">Log In</div>
        {% endif %}
        <div class="homepage-menu-item" id="create-schedule">Create Schedule</div>
        <div class="homepage-menu-item" id="all-schedules">All Schedules</div>
        <div class="homepage-menu-item" id="all-games">All Games</div>
        <form action="/search-game">
            <Label for="search-game">Search</Label>
            <input type="text" name="search-game" id="search-game" placeholder="GiantBomb database" 
                    onkeyup = "onKeyUp_searchGames()" onkeydown="return (event.keyCode!=13);"></input>
        </form>
    </div>

    <div class="homepage-display" id="homepage-display"></div>
    <div class="homepage-display-bottom" id="homepage-display-bottom"><center>Website powered by <a href="https://www.giantbomb.com/api/" target="_blank">GiantBomb</a></center></div>
    <div id="snackbar"></div>

    <div class="navbar">
        <div class="adminbutton" id="users">Users</div>
        <div class="adminbutton" id="games">Games</div>
        <div class="adminbutton" id="schedules">Schedules</div>
        <div class="adminbutton" id="requests">Requests</div>
        <div class="adminbutton" id="posts">Posts</div>
        <div class="adminbutton" id="schedule-users">Schedule Users</div>
        <div class="adminbutton" id="platforms">Platforms</div>
    </div>
{% endblock %}
{% block js %}
    <script src="/static/js/printdb.js"></script>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/userprofile.js"></script>
    <script src="/static/js/all-games.js"></script>
    <script src="http://www.myersdaily.org/joseph/javascript/md5.js"></script>
    {% endblock %}